body {
    background-image: url("首页背景图.png");
    background-size: cover;
    background-position: center top 80px;
    background-clip: padding-box;
    background: none;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #002244;
    padding: 14px;
    text-align: center;
    position: relative;
    /* width: 100vw; */
    height: auto;
  }
  
  header a {
    display: inline-block;
    margin: 8px;
    color: #CCCCCC;
    font-size: 24px;
    text-decoration: none;
  }
   
  .text p {
    font-family: "华文行楷", cursive;
    font-size: 22px;
    color: #555;
  }
  
  .paragraph {
    line-height: 1.5;
  }
  
  .image {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
  }
  
  .image:hover {
    transform: translateY(-5px);
  }
  
  .title {
    font-family: "华文行楷", serif;
    font-size: 26px;
    color: rgb(25, 16, 16);
  }
  
  .paragraph {
    font-family: "华文行楷", serif;
    font-size: 24px;
    color: rgb(25, 16, 16);
  }
  
  .text-box {
    width: 400px;
    height: 300px;
    overflow: auto;
    border: 1px solid darkgray;
    margin: 0 auto;
    padding: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* height: 100vh; */
    /* max-height: 60%; */
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    /* overflow-y: scroll; */
  }

  .text {
    font-family: "华文行楷", serif;
    font-size: 24px;
    color: (30, 15, 15);
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-family: "华文行楷", serif;
    font-size: 28px;
    color: rgb(30, 15, 15);
    margin-top: 0px;
  }

  .scroll-content {
    font-family: "华文行楷", serif;
    font-size: 28px;
    color: darkgray;
    max-width: 100px;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
  }